<!doctype = html>
<html>
  <style>
    .error {
      color: red;
      }
  </style>
<h1>Signup</h1>
<form action = '/valid-input' method = 'post'>
    <body>pyth
    <table>
      <tr>
         <td><label for = "user-name">Username</label></td>
         <td><input id = "user-name" type = "text" name = "user-name" />
             <span class = "error">{{ username_error }}</span>
         </td>
      </tr>
      <tr>
          <td><label for = "password">Password</label></td>
          <td><input id = "password" type = "password" name = "password" />
              <span class = "error">{{ password_error }}</span>
          </td>
      </tr>
      <tr>
          <td><label for "verify-pw">Verify Password</label></td>
          <td><input id = "verify-pw" type = "password" name = "verify-pw" />
              <span class = "error">{{ verify_pw_error }}</span>
          </td>
      </tr>
      <tr>
            <td><label for = "email">Email (optional)</label></td>
            <td><input id = "email" type = "text" name = "email" />
                <span class = "error">{{ email_error }}</span>
            </td>
      </tr>
      <tr>
            <td><input type = "submit" /></td>
      </tr>
    </table>
    </body>
  </form>
  
</html>